.navbar a{
	color:white;
}

.navbar {
	background-color:#ff8000;
}

.glyphicon glyphicon-user{
	color:white;
}

.navbar div ul li a{
	height:50px;
}



.vertical-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.vertical-right {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}
.row {
    display: table-cell;
    vertical-align: middle;
}
.exam-login {
	width:350px;
	margin-top:20px;
    padding:20px;
    background-color: #CCC;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
